*{
    margin:0;
    padding:0;
    list-style:none;
}
a {
    text-decoration: none;
    color: #000000;
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 3.90rem;
    padding: 0.4rem 0.24rem 0;
    box-sizing: border-box ;
    background: #d23a41;
    background-image: url("../img/a.png");
    background-size: cover;
    position: relative;
    border-bottom-right-radius:0.5rem;
    border-bottom-left-radius:0.5rem;
}
.header .top{
    width: 100%;
    height: 0.76rem;

}
.header a{
    display: block;
    width: 0.5rem;
    height: 0.76rem;
    text-align: left;
    line-height: 0.2rem;

}
.header p{
    font-size: 0.28rem;
    color: white;
}
.header i{
    color: white;

}
.mids{
    width: 7.02rem;
    height:auto;
    position: absolute;
    top: 3rem;
    left: 0.24rem;

}
.mids .part1{
    width: 100%;
    height: 2.42rem;
    border-radius: 0.5rem;
    background:floralwhite;
    box-shadow: 0.1rem 0.1rem 0.1rem #888888;;
    padding-top: 0.52rem;
    padding-left: 0.3rem;
    font-size: 0.28rem;
    box-sizing: border-box;
    position: relative;
}
.mids .part11{
    width: 100%;
    height: 0.4rem;
    position: absolute;
    bottom: 0.52rem;
}
.mids .s1{
    display: block;
    float: left;
}
.mids .s2{
    display: block;
    float: right;
    padding-right: 0.36rem;
}
.mids .hui {
    width: 91.5%;
    height: 0.02rem;
    background: #e9e5e5;
    position: absolute;
    top: 1.1rem;
}
.zhao{
    width: 100%;
    height: 5.47rem;
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.bottom{
    width: 100%;
    height: 7.87rem;

}
.bottom .bto1{
    width: 100%;
    height: 1.71rem;
    text-align: center;
    border-bottom: 0.02rem solid #e3e0e1;
    margin-top: 1.55rem;
    font-size: 0.34rem;
    padding-top: 0.4rem;
    box-sizing: border-box;
    position: relative;
}
.bottom .bto1 p:nth-child(2){
    color: rgba(0,0,0,0.3);
}
.money{
    width: 0.4rem;
    height: 0.4rem;
    display: block;
    position: absolute;
    top: 5.87rem;
    left: 2.5rem;
}
.wen{
    width: 0.4rem;
    height: 0.4rem;
    display: block;
    position: absolute;
    top: 5.87rem;
    right: 0.34rem;
}
.pic{
    width: 100%;
    height: 2.15rem;
    background-image: url("../img/30.9.png");
    background-size: cover;
    margin-top: 0.2rem;
}
.dui{
    display: block;
    width: 1.24rem;
    height: 1.24rem;
    position: absolute;
    bottom: 2.5rem;
    left: 3.16rem;
}
.bottom .left{
    display: block;
    width: 1.86rem;
    height: 0.6rem;
    background: #afaeb3;
    text-align: center;
    line-height: 0.6rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 1.2rem;
    left: 1.5rem;
    font-size: 0.32rem;
    color: white;
}
.bottom .right{
    display: block;
    width: 1.86rem;
    height: 0.6rem;
    background:#f8926a;
    text-align: center;
    line-height: 0.6rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 1.2rem;
    right: 1.5rem;
    font-size: 0.32rem;
    color: white;
}