*{
    margin:0;
    padding:0;
    list-style:none;
}
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.header{
    height: 1.48rem;
    width: 100%;
    background-image: url("../img/order.png");
    background-size: cover;
    padding-top: 0.4rem;
    box-sizing: border-box;
    color: white;
}
.header .text1{
    width: 1.34rem;
    height: 0.66rem;
    text-align: center;
    line-height: 0.66rem;
    font-size: 0.32rem;
    margin:0 auto;
}
.header .text2{
    width: 3.26rem;
    height: 0.46rem;
    text-align: -moz-center;
    font-size: 0.32rem;
    margin:-0.1rem auto;
}
.mid {
    width: 100%;
    height: auto;
    padding: 0 0.24rem 0;
    box-sizing: border-box;
}
.mid .first{
    width: 7.02rem;
    height: 2.80rem;
    background-image: url("../img/38.png");
    background-size: cover;
    margin-top: 0.28rem;
    display: flex;
}
.mid .first .left{
    width: 1.7rem;
    height: 2.22rem;
    background-image: url("../img/dumplings.png");
    background-size: cover;
    margin-top: 0rem;
    margin-left: 0.2rem;
}
.mid .first .left .again{
    width: 1.4rem;
    height: 0.4rem;
    border-radius: 0.5rem;
    background: #f15556;
    margin-top: 2.25rem;
    margin-left: 0.15rem;
    text-align: center;
    line-height: 0.4rem;
    font-size: 0.24rem;
}
.mid .first .left .again a{
    color: white;
}
.mid .first .right{
    flex-grow: 1;
    height: 2.22rem;
    /*background: black;*/
    font-size: 0.24rem;
    color: black;
}
/*.mid .first .right p{*/
    /*padding-left: 0.48rem;*/
    /*padding-top: 0.1rem;*/
/*}*/
.mid .first .right p:nth-child(1){
    font-size:0.28rem;
    padding-top: 0.3rem;
}
.mid .first .right p:nth-child(2){
    font-size:0.28rem;
    color: rgba(0,0,0,0.3);
    padding-top: 0;
}
.mid .first .right p{
    padding-left: 0.48rem;
    padding-top: 0.1rem;
}
.mid .first .right p:nth-child(3){
    padding-top:0;
}
.mid .first .right p:nth-child(4){
    padding-top:0;
}
.mid .first .right span{
    padding-left: 0.48rem;
    display: block;
    float: left;
    margin-top: 0.24rem;
}
.mid .first .right span:nth-child(2){
    padding-left: 0.9rem;
}
.mid .first .right .icontime{
    color: #07f190;
}
.mid .first .right .iconlocation{
    color: blue;
}
.daohang{
    background-image: url("../img/header.png") ;
    width: 100%;
    height: 0.9rem;
    display: flex;
    position: fixed;
    left:0;
    bottom: 0;
}
.daohang a{
    display: block;
    height: 100%;
    width: 25%;
    text-align: center;
    padding-top: 0.15rem;
    font-size: 0.24rem;
    color: white;
}